@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* Global CSS */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  background-color: #1f2937;
  color: #fff;
  height: 100vh;
}

.flex__column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #f9faf8;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list-items {
  margin: 0 1rem;
}
.navbar-list-links {
  font-size: 1.125rem;
  color: #e5e7e8;
  font-weight: 300;
}

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content-container {
  width: 45%;
  align-items: flex-start;
  gap: 0.5rem;
}

.hero__content-title {
  font-size: 3rem;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 0;
}

.hero__content-description {
  font-size: 1.125rem;
  color: #efe7e8;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.125rem;
  margin-top: 0.25rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1f2937;
  color: white;
  border: 2px solid grey;
}

.btn-signup {
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 5%;
}

.hero__img-container {
  padding: 1rem;
  width: 55%;
}

.hero-img {
  border-radius: 8px;
}

/* random section */

.random-section {
  padding: 5rem 0;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
  color: #1f2937;
}
.box-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.box__img-container {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.box-content-description {
  font-size: 1.125rem;
  color: #1f2937;
  font-weight: 100;
}

/* quote section */
.quote-container {
  background-color: #e5e7eb;
  padding: 3rem;
}

.quote__content-container {
  width: 65%;
  margin: 1rem auto;
}
.quote-blockquote {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
.quote-cite {
  float: right;
}

/* card section */

.card-container {
  padding: 3rem;
}

.card {
  width: 65%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  padding: 2rem 3rem;
  border-radius: 10px;
  color: #fff;
}

.card__content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-card {
  background-color: transparent;
  border-color: #fff;
}

/* footer */
.footer {
  background-color: #1f2937;
  padding: 1rem;
  text-align: center;
  color: #fff;
}
